.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: inline-block;
  padding: 16px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.header-logo-studio {
  color: #2e2f42;
}

.header-nav,
.header-address {
  display: none;
}

.menu-open-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  line-height: 0;
}

.menu-open-icon {
  stroke: #2f2f37;
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .header-nav-list {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .header-nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-link:hover,
  .header-nav-link:focus {
    color: #404bbf;
  }

  .header-address {
    display: block;
    font-style: normal;
  }

  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .header-address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address-link:hover,
  .header-address-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .header-address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
