@import "./common.css";
@import "./header.css";
@import "./hero.css";
@import "./features.css";
@import "./team.css";
@import "./portfolio.css";
@import "./footer.css";
@import "./modal.css";
@import "./mobile-menu.css";

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #ffffff;
  --dairy: #fcfcfc;
}
